.dropdown:hover .dropdown-menu {
    display: block;
  }

.lowercase_field {
  text-transform: lowercase;
}

.black-text {
  color: black;
}

.red-text {
  color: red;
}

.green-text {
  color: green;
}

.panel-white-bg > .panel-heading {
  background-color: white!important;
}