.dropdown:hover .dropdown-menu {
    display: block;
  }

.lowercase_field {
  text-transform: lowercase;
}

.black-text {
  color: black;
}

.red-text {
  color: red;
}

.warning-text {
  color: rgb(136, 54, 54);
}

.green-text {
  color: green;
}

.gold-text {
  color: #da9100;
}

.panel-white-bg > .panel-heading {
  background-color: white!important;
}

.float-right {
  float: right;
}

.borderless-table td, .borderless-table th {
  border:none!important;
}
