{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block body %}

<div class="row">
<div class="ui-widget col-sm-12 col-md-6 col-lg-6">
  <form method="post" id="id_add_expense" action="">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" class="btn btn-primary" value="{{ title }}">
  </form>
</div>
</div>

<br>
<div class="row">
<div class="col-sm-12 col-md-6 col-lg-6">
  <p id="id_success" class="alert alert-success" style="display:none;"></p>
  <p id="id_error" class="alert alert-danger" style="display:none;"></p>
</div>
</div>

{% if objects %}

<div class="col-sm-12 col-md-6 col-lg-6">

<div class="jumbotron">
    <h5><u>Today</u>: <u>&#8377; {{ total.day }}</u></h5>
    <h5><u>This month</u>: <u>&#8377; {{ total.month }}</u></h5>
</div>


<h4>Recent:</h4>
{% include 'expense_table.html' %}

<center><a href="{% url 'expense:expense_list' %}">See All</a></center>
<br><br>

</div>

{% endif %}




{% endblock %}



{% block js %}
<script type="text/javascript">
  $(document).ready(function(){

    $("#id_remark").autocomplete({
      source: "{% url 'expense:get_remark' %}",
    });

    // var today = new Date();
    // month = today.getMonth() + 1;
    // day = today.getDate();
    // year = today.getFullYear();
    // date = month + "/" + day + "/" + year
    // $("#id_timestamp").val(date);

    $("#id_timestamp").datepicker();

    var form = $("#id_add_expense");

    form.submit(function(){
      $.ajax({
        type: form.attr('method'),
        url: form.attr('action'),
        data: form.serialize(),
        success: function(data){
          $("#id_error").css("display", "none");
          form[0].reset();
          $("#id_success").text("Added successfully.");
          $("#id_success").css("display", "inline-block");

          setTimeout(function() {
            $("#id_success").hide();
          }, 5000);
        },
        error: function(data){
          $("#id_success").css("display", "none");
          $("#id_error").text("Some error has occured. Failed to save.");
          $("#id_error").css("display", "inline-block");
        }
      });
      return false;
    });
  });

  update();
</script>
{% endblock js %}
