{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block head %}
<style>
  .page-header {
    padding-bottom: 0!important;
    margin: 0 0 10px!important;
  }

  .page-header h2 {
    margin-top: 3px!important;
  }

   .table-condensed > tbody > tr > td {
    padding: 0px;
   }
</style>
{% endblock %}

{% block body %}

<div class="row">
  <div class="col-md-5 col-md-offset-1">

    <form method="post" class="ui-widget" id="id_add_expense" action="">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" id="submit_btn" class="btn btn-primary btn-block">
        <i class="fas fa-cloud-upload-alt"></i> {{ title }}
      </button>
    </form>

    <br>
    <div id="id_error" class="alert alert-danger" role="alert" style="display:none;">Some error has occured. Failed to save.</div>
    <br>

  </div>


  <div class="col-md-5 col-md-offset-1">

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <!-- Basic Stat Accordion -->
      <div class="panel panel-primary panel-white-bg">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#basicInfoCollapsible" aria-expanded="false" aria-controls="basicInfoCollapsible">
              <div class="black-text"><i class="fas fa-info-circle gold-text"></i> Expense Stat</div>
            </a>
          </h4>
        </div>
        <div id="basicInfoCollapsible" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            
            <div id="basicInfoContent">
              
              <table class="table table-condensed borderless-table">
                <tr>
                  <td><h5><a class="black-text" href="{% url 'expense:day-wise-expense' %}">Today: <span id="today_expense"></span></a></h5></td>
                  <td><h5><a class="black-text" href="{% url 'expense:month-wise-expense' %}">Month: <span id="month_expense"></span></a></h5></td>
                </tr>
              </table>

              <table class="table table-condensed borderless-table">
                <tr>
                  <td>
                    <div class="progress" data-toggle="tooltip" data-placement="top" title="% of recent month's income spent">
                      <div id="month_eir_progress" class="progress-bar progress-bar-info" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;">
                        <span id="month_eir"></span>
                      </div>
                    </div>

                    <center>
                      <h5 id="spending_power_heading" style="cursor: pointer;">
                        Spending Power: <span style="display: none;" id="spending_power"></span>
                        <i id="spending_power_hide" class="fas fa-eye-slash"></i>
                      </h5>
                    </center>
                  </td>
                </tr>
              </table>

            </div>

          </div>
        </div>
      </div>

      <!-- Recent  -->
      <div class="panel panel-primary panel-white-bg">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#recentTxn" aria-expanded="false" aria-controls="recentTxn">
              <div class="black-text"><i class="fas fa-list-alt gold-text"></i> Recent Expenses</div>
            </a>
          </h4>
        </div>
        <div id="recentTxn" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            <table class="table table-striped" id="txn-list"></table>

            <center><a href="{% url 'expense:expense_list' %}">See More</a></center>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

{% endblock %}


{% block js %}
<script type="text/javascript">
  spinner = '<i class="fas fa-spinner fa-sm"></i>'

  function fetchBasicInfo() {
    $("#today_expense").html(spinner);
    $("#month_expense").html(spinner);
    $("#eir").html(spinner);
    $("#month_eir").html(spinner);

    $.ajax({
      type: "GET",
      url: '{% url "expense:get-basic-info" %}',
      success: function(data){
        $("#today_expense").html(data.today_expense);
        $("#month_expense").html(data.this_month_expense);
        $("#month_eir").html(data.this_month_eir + "%");
        $("#month_eir_progress").css("width", data.this_month_eir + "%");
        $("#spending_power").html(data.spending_power);
      },
      error: function(data){
        console.log(data);
        console.log('error while fetching basic info data');
      }
    });
  }

  function fetchLatestExpenses() {
    rows = $("#txn-list")
    header = '<thead><tr><th>Date</th><th>Remark</th><th><span class="float-right">Amount</span></th><th></th></tr></thead>'
    spinner_row = "<tr><td>"+ spinner +"</td><td>"+ spinner +"</td><td>"+ spinner +"</td><td>"+ spinner +"</td></tr>"
    rows.empty();
    rows.append(header);
    rows.append(spinner_row);

    $.ajax({
      type: "GET",
      url: '{% url "expense:get-latest-expenses" %}',
      success: function(data){
        row = header
        for (i=0; i < data.length; i++) {
          row += "<tr>"
          row += "<td>"+ data[i].timestamp +"</td>"
          row += '<td><a class="black-text" href="/search/?remark=%22'+ data[i].remark +'%22">'+ data[i].remark +'</td>'
          row += '<td><span class="float-right">'+ data[i].amount +'</span></td>'
          row += '<td><a class="float-right" href="/update/'+ data[i].id +'/"><i class="fas fa-edit" title="Edit"></i></a></td>'
          row += "</tr>"
        }
        rows.empty();
        rows.append(row);
      },
      error: function(data){
        console.log(data);
        console.log('error while fetching basic info data');
      }
    });
  }

  $(document).ready(function(){

    $("#id_remark").autocomplete({
      source: "{% url 'expense:get_remark' %}"
    });

    $("#id_timestamp").datepicker();

    $("#id_amount").keyup(function() {
      $("#hint_id_amount").html( number_to_english($('#id_amount').val()) )
    });

    $('#basicInfoCollapsible').on('show.bs.collapse', function () {
      fetchBasicInfo();
    });

    $('#recentTxn').on('show.bs.collapse', function () {
      fetchLatestExpenses();
    });

    $("#spending_power_heading").on('click', function() {
      $("#spending_power_hide").toggle();
      $("#spending_power").toggle();
    });

    var form = $("#id_add_expense");

    form.submit(function(){
      let submit_btn_id = "submit_btn"
      document.getElementById(submit_btn_id).disabled = true;

      $.ajax({
        type: form.attr('method'),
        url: form.attr('action'),
        data: form.serialize(),
        success: function(data) {
          $("#hint_id_amount").html("");
          form[0].reset();
          document.getElementById(submit_btn_id).disabled = false;

          $("#id_error").hide();
          showSnackbar("Expense added successfully.", 3000);

          // updating accordion if new expense is added and accordion is open
          if ( $("#basicInfoCollapsible.in").length == 1 ) {
            fetchBasicInfo();
          }
          if ( $("#recentTxn.in").length == 1 ) {
            fetchLatestExpenses();
          }

        },
        error: function(data) {
          $("#id_error").show();
          document.getElementById(submit_btn_id).disabled = false;
        }
      });
      return false;
    });
    
  });

</script>
{% endblock js %}
