{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex" />
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}" />
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-49676907-6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-49676907-6');
    </script>

    <title>{{ title }}</title>

    {% include "css_files.html" %}
    
    {% block head %}{% endblock %}

  </head>
  <body>

    {% include "navbar.html" %}

    <div class="container">
      {% if title %}
        <div class="page-header" style="margin-top:20px;">
          <h2>{{ title }}</h2>
        </div>
      {% endif %}

      {% include "messages.html" %}

      {% block body %}{% endblock body %}
    </div>

    {% include "js_files.html" %}

    {% block js %} {% endblock js %}
  </body>
</html>
