{% load staticfiles %}

{% comment %}
<link rel="stylesheet" href="{% static 'dist/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'dist/jquery-ui/jquery-ui.min.css' %}">
<link rel="stylesheet" href="{% static 'dist/font-awesome/css/all.min.css' %}">
{% endcomment %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<link rel="stylesheet" href="{% static 'css/snackbar.css' %}">
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<link rel="stylesheet" href="{% static 'css/master.css' %}">
