<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<style media="screen">
  .navbar-default {
    background-color: #d3dde5;
    border-color: #e8e7e6;
  }
  .navbar-default .navbar-brand {
    color: #050606;
  }
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    color: #e71417;
  }
  .navbar-default .navbar-text {
    color: #050606;
  }
  .navbar-default .navbar-nav > li > a {
    color: #050606;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #e71417;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #d3dde5;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #050606;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #e71417;
    background-color: #e8e7e6;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
    background-color: #e8e7e6;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #e71417;
    background-color: #e8e7e6;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #e71417;
    background-color: #e8e7e6;
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #e71417;
    background-color: #e8e7e6;
  }
  .navbar-default .navbar-toggle {
    border-color: #e8e7e6;
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #e8e7e6;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #050606;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #050606;
  }
  .navbar-default .navbar-link {
    color: #050606;
  }
  .navbar-default .navbar-link:hover {
    color: #e71417;
  }

  @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #050606;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #e71417;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #e71417;
      background-color: #e8e7e6;
    }
  }

</style>
