{% extends 'base.html' %}
{% load humanize %}


{% block body %}

<div class="col-md-6 col-md-offset-3">

{% include "total_alert_info.html" %}

{% if data %}
  <table class="table table-striped">
    
    <thead>
      <tr>
        <th>Day</th>
        <th><span class="float-right">Amount</span></th>
      </tr>
    </thead>

    {% for object in data %}
      <tr>
        <td>
          <a href="{% url 'expense:goto_expense' year=object.day.year month=object.day.month day=object.day.day %}">
            {{ object.day|date:"d M, Y" }}
          </a>
        </td>
        <td><span class="float-right">{{ object.day_sum|intcomma }}</span></td>
      </tr>
    {% endfor %}

  </table>

  {% include 'paginator.html' %}
  
{% else %}

<h2>No data to show</h2>

{% endif %}

</div>

{% endblock body %}