{% extends 'base.html' %}



{% block body %}

{% if data %}
<table class="table table-striped">
    <tr>
      <th>Day</th>
      <th>Amount</th>
    </tr>
    {% for object in data %}
    <tr>
      <td>
        <a href="{% url 'expense:goto_expense' year=object.0.year month=object.0.month day=object.0.day %}">
          {{ object.0 }}
        </a>
      </td>
      <td>{{ object.1 }}</td>
    </tr>
    {% endfor %}
  </table>
{% else %}

<h2>No data to show</h2>

{% endif %}



{% endblock body %}