{% load humanize %}

<table class="table table-striped">
  
  <thead>
    <tr>
      <th>Date</th>
      <th>Amount</th>
      <th>Remark</th>
      <th>Action</th>
      <!-- <th>Message</th> -->
    </tr>
  </thead>

  {% for object in objects %}
    <tr>
      <td>{{ object.timestamp|date:"d M, Y" }}</td>
      <td>{{ object.amount|intcomma }}</td>
      <td>
        {% if object.remark %}
          <a class="black-font" href="{% url 'expense:expense_list' %}?q=%22{{ object.remark }}%22">{{ object.remark }}</a>
        {% endif %}
      </td>
      <td>
        <a href="{% url "expense:update_expense" id=object.id %}">
          <i class="fas fa-edit" title="Edit"></i>
        </a>
      </td>
    </tr>
  {% endfor %}

</table>
