{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block body %}


{% if request.GET.q %}
<h4>Total for search "{{ request.GET.q }}": {{ object_total }}</h4>
{% elif object_total %}
<h4>Total: {{ object_total }}</h4>
{% endif %}



{% if objects %}
<p>
  <div>
    <b>Order by:</b>
    <form method="GET">
      <select name="field">
        <option value="amount">Amount</option>
        <option value="timestamp" selected>Date</option>
      </select>
      <select name="order">
        <option value="">ASC</option>
        <option value="-" selected>DESC</option>
      </select>
      <input type="submit" class="btn btn-xs btn-default" value="Submit">
      {% if request.GET.q %}<input type="hidden" name="q" value="{{ request.GET.q }}">{% endif %}
    </form>
  </div>
  
</p>

{% include 'expense_table.html' %}


{% if goto_total %}
  <div class="jumbotron">
    <h4 style="float:right">Total: {{ goto_total }}</h4>
  </div>
{% endif %}


{% include 'paginator.html' %}

{% else %}
<h1>Nothing found</h1><hr>
{% endif %}




{% if total %}
<div class="jumbotron">
  <h2>Stats:</h2>

  <h4>Today: &#8377; {{ total.day|intcomma }}</h4>

  <h4>This month ({% now "M" %}): &#8377; {{ total.month|intcomma }}</h4>

  {%if total.last_month %}
  <h4>Last month: &#8377; {{ total.last_month|intcomma }}</h4>
  {% endif %}

  <h4>Total expenses of {% now "Y" %}: &#8377; {{ total.year|intcomma }}</h4>

  <h4>All time {% if first_date %}(since {{ first_date }}){% endif %}: &#8377; {{ total.all|intcomma }}</h4>

</div>
{% endif %}


{% endblock body %}


