{% load humanize %}

<table class="table table-striped">
  
  <thead>
    <tr>
      <th>Date</th>
      <th>Remark</th>
      <th><span class="float-right">Amount</span></th>
      <th></th>
    </tr>
  </thead>

  {% for object in objects %}
    <tr>
      <td>
        <span data-toggle="tooltip" title="Added on: {{ object.created_at }}">{{ object.timestamp|date:"d M, Y" }}<span>
      </td>

      <td>
        {% if object.remark %}
          <a class="black-text" 
            href="{% url 'expense:search' %}?remark=%22{{ object.remark }}%22{% if from_date and to_date %}&from_date={{from_date}}&to_date={{to_date}}{% endif %}">
            {{ object.remark }}
          </a>
        {% endif %}
      </td>

      <td><span class="float-right">{{ object.amount|intcomma }}</span></td>
      
      <td>
        <a class="float-right" href="{% url "expense:update_expense" id=object.id %}">
          <i class="fas fa-edit" title="Edit"></i>
        </a>
      </td>
    </tr>
  {% endfor %}

</table>
