{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block body %}

<div class="col-md-8 col-md-offset-2">

{% include "total_alert_info.html" %}


{% if objects %}

<div style="float:right;">
    {% if daywise_url %}
        <a class="btn btn-primary btn-xs" href="{{ daywise_url }}">List Day-wise</a>
    {% endif %}
    
    {% if remark_url %}
        <a class="btn btn-primary btn-xs" href="{{ remark_url }}">Group by Remark</a>
    {% endif %}
    <br><br>
</div>

{% include 'expense_table.html' %}

{% include 'paginator.html' %}


{% else %}
<h1>Nothing found</h1><hr>
{% endif %}

</div>

{% endblock body %}

