{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block body %}

<div class="col-md-8 col-md-offset-2">

{% include "total_alert_info.html" %}


{% if objects %}

{% include 'expense_table.html' %}

{% if remark_url %}
    <div style="float:right;">
        <a class="btn btn-primary btn-xs" href="{{ remark_url }}">See by Remark</a>
    </div>
{% endif %}

{% include 'paginator.html' %}


{% else %}
<h1>Nothing found</h1><hr>
{% endif %}

</div>

{% endblock body %}

