{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block body %}

<div class="col-md-8 col-md-offset-2">

{% include "total_alert_info.html" %}


{% if objects %}

  <table class="table table-striped">
    
    <thead>
      <tr>
        <th>Date</th>
        <th>Source</th>
        <th><span class="float-right">Amount</span></th>
        <th></th>
      </tr>
    </thead>

    {% for object in objects %}
      <tr>
        <td>{{ object.timestamp|date:"d M, Y" }}</td>

        <td>
          {% if object.source %}
            <a class="black-text" href="{% url 'income:search' %}?source={{ object.source }}">{{ object.source }}</a>
          {% endif %}
        </td>

        <td><span class="float-right">{{ object.amount|intcomma }}</span></td>

        <td>
          <a class="float-right" href="{% url "income:update-income" pk=object.id %}">
            <i class="fas fa-edit" title="Edit"></i>
          </a>
        </td>
        
      </tr>
    {% endfor %}

  </table>

{% elif request.GET.search == "1" %}
  <h1>Nothing found</h1><hr>
{% endif %}


<div class="col-md-5">

  <form action="" method="GET">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="text" name="search" value="1" hidden>
    <input type="submit" class="btn btn-info btn-block" name="" value="Search Income">
  </form>

</div>


</div>

{% endblock body %}



{% block js %}

<script type="text/javascript">

$("#id_source").autocomplete({
    source: "/income/autocomplete/source/",
  });

$(function(){
  $("#id_from_date").datepicker();
  $("#id_to_date").datepicker();
  
});

</script>

<br><br><br>
{% endblock js %}
