{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load income_utils %}

{% block body %}


<div class="alert alert-info" style="padding-top: 1%; padding-bottom: 1%;">
  {% comment %} {% if saving_to_income_ratio %}
    <h5>Saving to Income Ratio: {{ saving_to_income_ratio }}%</h5>
  {% endif %} {% endcomment %}

  {% if total %}
    <h5>Total: {{ total|intcomma }}</h5>
  {% endif %}
</div>


{% if objects %}

  <table class="table table-striped">
    <tr>
      <th>Date</th>
      <th>Amount</th>
      <th>Source</th>
      <th></th>
      <th>Action</th>
    </tr>

    {% for object in objects %}
    <tr>
      <td>{{ object.timestamp|date:"d M, Y" }}</td>
      <td>{{ object.amount|intcomma }}</td>
      <td>{% if object.source %}{{ object.source }}{% endif %}</td>
      <td>
        {% if object|show_calculator %}
          <a href="{% url 'income:savings-calculator' %}?income={{ object.amount }}"><i class='fas fa-calculator' style='color:green;'></i></a>
        {% endif %}
      </td>
      <td>
        <a href="{% url 'income:update-income' pk=object.id %}">
          <span class="glyphicon glyphicon-pencil"></span> Edit
        </a>
      </td>
    </tr>
    {% endfor %}

  </table>
  

  {% if is_paginated %}
    {% include 'paginator.html' %}
  {% endif %}

{% else %}
  <h1>Nothing found</h1><hr>
{% endif %}


{% endblock body %}

