{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load income_utils %}

{% block body %}


<div class="col-md-1 col-lg-1"></div>

<div class="col-md-10 col-lg-10 col-sm-12">
  
  <table class="table table-striped">
    
    <thead>
      <tr>
        <th>Name</th>
        <th>Percentage</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>

    {% for object in object_list %}
    <tr>
      <td>{{ object.name }}</td>
      <td>{{ object.percentage }}</td>
      <td>
        <a href="{% url 'income:investment-entity-update' pk=object.id %}">
          <i class="fas fa-edit" title="Edit"></i>
        </a>
      </td>

      <td>
        {% if not object.percentage %}
          <a href="{% url 'income:investment-entity-delete' pk=object.id %}">
            <i class="fas fa-trash-alt red-text"></i>
          </a>
        {% else %}
          <span data-toggle="tooltip" data-placement="top" title="Percentage value must be 0 to enable delete"><i class="fas fa-info-circle"></i></span>
        {% endif %}
      </td>

    </tr>
    {% endfor %}

  </table>
  <br>
  
  <a style="float:left;" href="{% url 'income:investment-entity-create' %}" class="btn btn-primary">Add New</a>

  <div style="float:right;">
    <a class="btn btn-primary" href="{% url 'income:savings-calculation-detail' %}"><i class="fas fa-cog"></i> Settings</a>
    <a class="btn btn-primary" href="{% url 'income:savings-calculator' %}"><i class='fas fa-calculator'></i> Calculator</a>
  </div>

<div class="col-md-1 col-lg-1"></div>



{% endblock body %}



