{% load staticfiles %}

{% comment %}
<script src="{% static 'dist/jquery/jquery.min.js' %}"></script>
<script src="{% static 'dist/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'dist/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'dist/font-awesome/js/all.min.js' %}"></script>
{% endcomment %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"></script>

<script src="{% static 'js/number_to_english.js' %}"></script>
<script src="{% static 'js/snackbar.js' %}"></script>
<script src="{% static 'js/master.js' %}"></script>
