

<script
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>


  <script
    src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
    crossorigin="anonymous"></script>



<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<script type="text/javascript">

function update(){
  $(".edit").on("click", function(e){
    e.preventDefault();
    id = $(this).data("id");

    $.ajax({
      url: "/update/"+ id,
      success: function(){
        $("#smsg-"+id).text("Taking you there!");
        window.location.href = "/update/"+ id +"/";
      },
      error: function(){
        $("#emsg-"+id).text("Too late!");

      },
    });
  });
}


function years(){
  $("#dropdown").on('click', function(){
    $.get("/years/", function(data){
      $("#year-dropdown").html("");

      for (i=0; i<data.length; i++){
        $("#year-dropdown").append('<li><a href="/'+data[i]+'/">'+ data[i] +'</a></li>');
      }

    });
  });

}

</script>
