{% extends 'base.html' %}
{% load humanize %}


{% block body %}

{% include "total_alert_info.html" %}

{% if data %}
<table class="table table-striped">

  <thead>
    <tr>
      <th>Month</th>
      <th>Amount</th>
    </tr>
  </thead>
    
  {% for object in data %}
    <tr>

      <td>
        <a href="{% url 'expense:goto_expense' year=object.0.year month=object.0.month %}">
          {{ object.0|date:"M Y" }}
        </a>
        ( By
          <a href="{% url 'expense:day-wise-expense' %}?year={{object.0.year}}&month={{object.0.month}}">day</a> |
          <a href="{% url 'expense:remark_monthly_expense' year=object.0.year month=object.0.month %}">remark</a>
        )
      </td>

      <td>
          <span data-toggle="tooltip" data-placement="top" title="This month's EIR: {{ object.4 }}%; All Time EIR: {{ object.3 }}%; Expense Ratio: {{ object.2 }}%">
            {{ object.1|intcomma }}
          </span>
      </td>
      
    </tr> 
  {% endfor %}
    
</table>

  {% include 'paginator.html' %}
  
  {% else %}

  <h2>No data to show.</h2>

  {% endif %}

{% endblock body %}

