{% extends 'base.html' %}
{% load humanize %}


{% block body %}

<div class="col-md-6 col-md-offset-3">

{% include "total_alert_info.html" %}

{% if data %}

  {% if request.GET.year %}
  <div style="float:right;">
    <a class="btn btn-primary btn-xs" href="{% url 'income:source-wise' %}?year={{ request.GET.year }}">See by Sources</a>
    <br><br>
  </div>
  {% endif %}

  <table class="table table-bordered table-hover">

      <thead>
          <tr>
            <th class="active">Month</th>
            <th class="active">
              <span class="float-right">Income</span>
            </th>
          </tr>
      </thead>

      {% for object in data %}
        <tr>
          <td>
            <a href="{% url 'income:goto-income-list' year=object.date.year month=object.date.month %}">
              {{ object.date|date:"F, Y" }}
            </a>
          </td>
          
          <td class="active">
              <span class="float-right">{{ object.amount|intcomma }}</span>
          </td>
        </tr>
      {% endfor %}

  </table>

  {% include 'paginator.html' %}
  
{% else %}
  <h2>No data to show.</h2>
{% endif %}

</div>

{% endblock body %}


{% block js %}

<script type="text/javascript">

  $(document).ready(function(){

  });

</script>

{% endblock js %}