{% extends 'base.html' %}
{% load humanize %}


{% block body %}

{% if data %}
<table class="table table-striped">
    
    <tr>
      <th>Month</th>
      <th>Amount</th>
      <th><span data-toggle="tooltip" data-placement="top" title="Expense Ratio (%)">ER</span></th>
      <th><span data-toggle="tooltip" data-placement="top" title="Expense to Income Ratio (%)">EIR</span></th>
    </tr>
    {% for object in data reversed %}
    <tr>
      <td>
        <a href="{% url 'expense:goto_expense' year=object.0.year month=object.0.month %}">
          <strong>{{ object.0|date:"Y" }} {{ object.0|date:"M" }}</strong>
        </a>
        (by <a href="{% url 'expense:remark_monthly_expense' year=object.0.year month=object.0.month %}">remark</a>)
      </td>
      <td>
          <strong>{{ object.1|intcomma }}</strong>
      </td>
      <td>
          {% if object.2 %}
            {{ object.2 }}<span style="font-size:9px;">%</span>
          {% endif %}
      </td>
      <td>
          {% if object.3 %}
            {{ object.3 }}<span style="font-size:9px;">%</span>
          {% endif %}
      </td>
    </tr> 

    {% endfor %}
    

  </table>
  {% else %}

  <h2>No data to show.</h2>

  {% endif %}

{% endblock body %}


{% block js %}

<script type="text/javascript">

  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });

</script>

{% endblock js %}