{% extends 'base.html' %}
{% load humanize %}


{% block body %}

<div class="col-md-8 col-md-offset-2">

{% include "total_alert_info.html" %}

{% if data %}
    <table class="table table-bordered table-hover">

        <thead>
            <tr>
              <th>Month</th>
              <th>Income</th>
            </tr>
        </thead>

        {% for object in data %}
            <tr>
                <td>
                  <a href="{% url 'income:goto-income-list' year=object.0.year month=object.0.month %}">
                    {{ object.0|date:"M Y" }}
                  </a>
                </td>
                <td>
                    {{ object.1|intcomma }}
                </td>
            </tr>
        {% endfor %}

    </table>

  {% include 'paginator.html' %}
  
{% else %}
  <h2>No data to show.</h2>
{% endif %}

</div>

{% endblock body %}


{% block js %}

<script type="text/javascript">

  $(document).ready(function(){

  });

</script>

{% endblock js %}