{% extends 'base.html' %}
{% load humanize %}


{% block body %}

{% include "total_alert_info.html" %}

{% if data %}
<table class="table table-bordered table-hover">

  <thead>
    <tr>
      <th>Month</th>
      <th>Daily Average</th>
      <th>Total Expense</th>
    </tr>
  </thead>
    
  {% for object in data %}
    <tr>

      <td>
        <a href="{% url 'expense:goto_expense' year=object.date.year month=object.date.month %}">
          {{ object.date|date:"M Y" }}
        </a>
        (<a href="{% url 'expense:day-wise-expense' %}?year={{ object.date.year }}&month={{ object.date.month }}">day</a> |
          <a href="{% url 'expense:remark_monthly_expense' year=object.date.year month=object.date.month %}">remark</a>)
      </td>

      <td>
        {{ object.daily_average|intcomma }}
      </td>

      <td>
          <span data-toggle="tooltip" data-placement="top" title="Month's EIR: {{ object.month_eir }}%">
            {{ object.amount|intcomma }}
          </span>
      </td>
      
    </tr> 
  {% endfor %}
    
</table>

  {% include 'paginator.html' %}
  
  {% else %}

  <h2>No data to show.</h2>

  {% endif %}

{% endblock body %}

