<nav class="navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar" style="color:black;"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'expense:expense_list' %}">Expensor</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">

        {% if request.user.is_authenticated %}
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="">Expense
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a class="navbar-link" href="{% url "expense:add_expense" %}">Add Expense</a></li>
            <li><a class="navbar-link" href="{% url "expense:expense_list" %}">All Expenses</a></li>
            <li><a class="navbar-link" href="{% url "expense:month-wise-expense" %}">Monthly Expense</a></li>
            <li><a class="navbar-link" href="{% url "expense:day-wise-expense" %}">Daily Expense</a></li>
            <li><a class="navbar-link" href="{% url "expense:search" %}">Search</a></li>
          </ul>
        </li>

        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" id="year-dropdown" href="#">Yearly Expense <span class="caret"></span></a>
            <ul class="dropdown-menu" id="year-content-dropdown">
  
            </ul>
        </li>


        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="">Income
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a class="navbar-link" href="{% url "income:add-income" %}">Add Income</a></li>
            <li><a class="navbar-link" href="{% url "income:income-list" %}">All Income</a></li>
          </ul>
        </li>
      </ul>

      <form class="navbar-form navbar-left" action="{% url "expense:expense_list" %}" method="GET">
        <div class="input-group">
          <input type="text" id="id_search" class="form-control" name="q" placeholder="Search expenses" required>
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default">Search</button>
          </span>
        </div>
      </form>

      {% endif %}

      <ul class="nav navbar-nav navbar-right">
        {% if request.user.is_authenticated %}
        <li><a class="navbar-link" href="{% url 'account:change-password' %}"><span class="glyphicon glyphicon-log-out"></span> Change Password</a></li>
        <li><a class="navbar-link" href="{% url 'account:logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        {% else %}
        <li><a class="navbar-link" href="{% url 'account:register' %}"><span class="glyphicon glyphicon-user"></span> Register</a></li>
        <li><a class="navbar-link" href="{% url 'account:login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<br><br>
