{% extends 'base.html' %}
{% load humanize %}
{% load maths %}


{% block body %}

<div class="col-md-6 col-md-offset-3">

{% if data %}

  <center>
    <h2 {% if networth_amount > 0 %}class="green-text"{% else %}class="red-text"{% endif %}>
      {{ networth_amount|intcomma }}
    </h2>
  </center>
  <hr>
  
  <h3>
    <center>Statistics</center>
  </h3>
  <div class="table-responsive">
    <table class="table table-bordered table-hover">

      <thead>
        <tr>
          <th class="active">Method</th>

          <th class="active">
            <span class="float-right">Monthly Expense</span>
          </th>

          <th class="active">
            <span class="float-right">x</span>
          </th>

          <th class="active">
            <span class="float-right">Yearly Expense</span>
          </th>
          
          <th class="active">
            <span class="float-right">X</span>
          </th>
        </tr>
      </thead>
        
      {% for object in data %}
        <tr>

          <td>
            {{ object.method }}
          </td>

          <td>
            <span class="float-right">
                {{ object.month_expense|intcomma }}
            </span>
          </td>

          <td>
            <span class="float-right">
              <span style="color:green;">{{ object.month_x }}</span>x
            </span>
          </td>

          <td>
            <span class="float-right">
              {{ object.year_expense|intcomma }}
            </span>
          </td>

          <td>
            <span class="float-right">
              <span style="color:green;">{{ object.year_x }}</span>X
            </span>
          </td>
          
        </tr> 
      {% endfor %}
        
    </table>
  </div>

  <h3>
    <center>F.I.R.E.</center>
  </h3>
  <div class="table-responsive">
    <table class="table table-bordered table-hover">

      <thead>
        <tr>
          <th class="active">Purpose</th>

          <th class="active">
            <span class="float-right">Amount</span>
          </th>

          <th class="active">
            <span class="float-right">Coverage</span>
          </th>
        </tr>
      </thead>

      <tr>
        <td>Emergency Fund</td>
        <td>
          <span class="float-right">
            {% multiply emergency_fund 1 0 1000 %}
          </span>
        </td>
        <td></td>
      </tr>

      <tr>
        <td>Lean FIRE</td>
        <td>
          <span class="float-right">
            {% multiply lean_fire_amount 1 0 1000 %}
          </span>  
        </td>
        <td>
          <span class="float-right">
            {% multiply lean_fire_coverage 100 2 %}%
          </span>
        </td>
      </tr>

      <tr>
        <td>Regular FIRE</td>
        <td>
          <span class="float-right">
            {% multiply fire_amount 1 0 1000 %}
          </span>
        </td>
        <td>
          <span class="float-right">
            {% multiply fire_amount_coverage 100 2 %}%
          </span>
        </td>
      </tr>

      <tr>
        <td>Fat FIRE</td>
        <td>
          <span class="float-right">
            {% multiply fat_fire_amount 1 0 1000 %}
          </span>
        </td>
        <td>
          <span class="float-right">
            {% multiply fat_fire_coverage 100 2 %}%
          </span>
        </td>
      </tr>

    </table>
  </div>
  
  {% else %}

  <h2>No data to show.</h2>

  {% endif %}

</div>

{% endblock body %}

