{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block body %}


{% if networth %}
    <center>
        <a href="{% url 'account:networth-history' %}" style="text-decoration:none;">
            <h1 {% if networth.amount > 0 %}class="green-text"{% else %}class="red-text"{% endif %}>
                {{ networth.amount|intcomma }}
                {% if x > 0 %}
                    <span style="font-size:.35em;">({{ x }}X)</span>
                {% endif %}
            </h1>
        </a>
        {% if x > 0 %}
            <sub style="float:right;">X = {{ avg_expense|intcomma }}</sub>
        {% endif %}
    </center>
{% endif %}


<hr>
<div class="row">

    <div class="col-md-6">
        <h4>Assets: <span class="green-text">{{ asset_amount|intcomma }}</span></h4><br>
        <table class="table">
            {% for asset in assets %}
            <tr>
                <td>
                    <a class="black-text" href="{% url 'account:account-name-amount-history' pk=asset.account_name.id %}">
                        {{ asset.account_name.name }}
                    </a>
                </td>
                <td>
                    <span style="float:right;">
                        {% if asset.amount %}
                            {{ asset.amount.amount|intcomma }}
                        {% else %}
                            0
                        {% endif %}
                    </span>
                </td>
                <td>
                    <a href="{% url 'account:account-name-amount' pk=asset.account_name.id %}"><i class="fas fa-plus-circle"></i></a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="col-md-6">
        <h4>Liabilities: <span class="red-text">{{ liability_amount|intcomma }}</span></h4><br>
        <table class="table">
            {% for liability in liabilities %}
            <tr>
                <td>
                    <a class="black-text" href="{% url 'account:account-name-amount-history' pk=liability.account_name.id %}">
                        {{ liability.account_name.name }}
                    </a>
                </td>
                <td>
                    <span style="float:right;">
                        {% if liability.amount %}
                            {{ liability.amount.amount|intcomma }}
                        {% else %}
                            0
                        {% endif %}
                    </span>
                </td>
                <td>
                    <a href="{% url 'account:account-name-amount' pk=liability.account_name.id %}"><i class="fas fa-minus-circle"></i></a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

</div>

<p><br></p>
<sub>As on {{ networth.date|date:"d M Y" }}</sub>
{% if x > 0 %}
<br>
<sub>X = annual expense (derived from {{ YEARS }} years' data)</sub>
{% endif %}

<p><br></p>
<a href="{% url 'account:account-name-list' %}" class="btn btn-primary">Manage Accounts</a>

<p><br><br><br><br><br></p>
{% endblock body %}


