{% if objects.paginator %}
<div class="pagination">
  <span class="step-links">
    {% if objects.has_previous %}
      <a href="?{% for k, v in request.GET.items %}&{{k}}={{v}}{% endfor %}&page={{ objects.previous_page_number }}
      ">Previous</a>
    {% else %}
      <span><u>Previous</u></span>
    {% endif %}

    <span class="current">
      Page {{ objects.number }} of {{ objects.paginator.num_pages }}
    </span>

    {% if objects.has_next %}
      <a href="?{% for k, v in request.GET.items %}&{{k}}={{v}}{% endfor %}&page={{ objects.next_page_number }}
      ">Next</a>
    {% else %}
      <span><u>Next</u></span>
    {% endif %}
  </span>
</div>
{% endif %}
