{% extends 'base.html' %}
{% load humanize %}

{% block body %}

<br>

{% if remarks %}

{% include "total_alert_info.html" %}

<table class="table table-striped">

  <thead>
    <tr>
      <th>Remark</th>
      <th>Total Amount</th>
    </tr>
  </thead>

  {% for row in remarks %}
    <tr>
      <td>
        {% if not row.remark %}
            Others<sup>*</sup>
        {% else %}
          <a class="black-text" href="{% url 'expense:expense_list' %}?q=%22{{ row.remark.name }}%22">{{ row.remark.name }}</a>
        {% endif %}
      </td>

      <td>
          <span data-toggle="tooltip" data-placement="top" title="Expense to Income Ratio: {{ row.eir }}% & Expense Ratio: {{ row.expense_ratio }}%">
            {{ row.amount|intcomma }}
          </span>
      </td>
    </tr> 
  {% endfor %}

  </table>
  
  {% else %}

  <h2>No data to show.</h2>

  {% endif %}

{% endblock body %}