{% extends 'base.html' %}


{% block body %}

{% if remarks %}
<h4>Total: {{ total }}</h4><br>
<table class="table table-striped">
    
    <tr>
      <th>Remark</th>
      <th>Total Amount</th>
    </tr>
    {% for remark in remarks %}
    <tr>
      <td>
        {% if not remark.0 %}
            Others<sup>*</sup>
        {% else %}
            {{ remark.0.name }}
        {% endif %}
      </td>
      <td>
          {{ remark.1 }}
      </td>
    </tr> 

    {% endfor %}
    

  </table>
  {% else %}

  <h2>No data to show.</h2>

  {% endif %}

{% endblock body %}