{% extends 'base.html' %}
{% load humanize %}
{% load income_utils %}


{% block body %}

<div class="col-md-8 col-md-offset-2">

    {% if eir %}
        <h4>{% if year %}EIR{% else %}All Time EIR{% endif %}:
        <span
            {% if eir > 100 %}
                class="red-text"
            {% elif eir > BANK_AMOUNT_PCT %}
                class="warning-text"
            {% elif eir > 0 %}
                class="green-text"
            {% endif %}
        >{{ eir }}%<span>
        </h4>
        <br>
    {% endif %}

    {% if data %}
        <div class="table-responsive">
            <table class="table table-bordered table-hover">

                <thead>
                    <tr>
                        <th><i class="far fa-calendar-alt"></i> {% if year %}Month{% else %}Year{% endif %}</th>
                        <th class="info">
                            <span class="float-right"><i class="fas fa-coins"></i> Income</span>
                        </th>
                        <th class="danger">
                            <span class="float-right"><i class="far fa-credit-card"></i> Expense</span>
                        </th>
                        <th class="success">
                            <span class="float-right"><i class="fas fa-piggy-bank"></i> Saved</span>
                        </th>
                        <th class="warning">
                            <span class="float-right"><i class="fas fa-percentage"></i> Expense Rate</span>
                        </th>
                    </tr>
                </thead>

                {% for row in data %}
                    <tr>
                        <td class="active">
                            {% if year %}
                                <strong>{{ row.date|date:"M Y" }}</strong>
                            {% else %}
                                <a href="{% url 'income:yearly-report' year=row.date.year %}" class="black-text">
                                    <strong>{{ row.date.year }}</strong>
                                </a>
                            {% endif %}
                        </td>

                        <td>
                            <span class="float-right">
                                {% if year %}
                                    <a class="black-text" href="{% url 'income:goto-income-list' year=row.date.year month=row.date.month %}">
                                        {{ row.income_sum|intcomma }}
                                    </a>
                                {% else %}
                                    <a class="black-text" href="{% url 'income:month-income-list' %}?year={{ row.date.year }}">
                                        {{ row.income_sum|intcomma }}
                                    </a>
                                {% endif %}
                            </span>
                        </td>

                        <td>
                            <span class="float-right">
                                {% if year %}
                                    <a class="black-text" href="{% url 'expense:goto_expense' year=row.date.year month=row.date.month %}">
                                        {{ row.expense_sum|intcomma }}
                                    </a>
                                {% else %}
                                    <a class="black-text" href="{% url 'expense:month-wise-expense' %}?year={{ row.date.year }}">
                                        {{ row.expense_sum|intcomma }}
                                    </a>
                                {% endif %}
                            </span>
                        </td>

                        <td>
                            <span class="float-right">
                                {% if row.saved < 0 %}
                                    <span data-toggle="tooltip" data-placement="top" title="{{ row.saved|intcomma }}">0</span>
                                {% else %}
                                    {{ row.saved|intcomma }}
                                {% endif %}
                            </span>
                        </td>

                        <td 
                            {% if row.expense_ratio > 100 %}
                                class="red-text"
                            {% elif row.expense_ratio > BANK_AMOUNT_PCT %}
                                class="warning-text"
                            {% elif row.expense_ratio > 0 %}
                                class="green-text"
                            {% endif %}
                        >
                            <span class="float-right">
                                {{ row.expense_ratio }}%
                            </span>
                        </td>
                    </tr>
                {% endfor %}

            </table>
        </div>

        <sub style="float:right;">{{ now }}</sub>
        <sub>EIR = Expense to Income Ratio</sub><br>
        
        <br><br><br><br><br>
    {% else %}
        <h2>No data to show.</h2>
    {% endif %}

</div>

{% endblock body %}


{% block js %}

<script type="text/javascript">

  $(document).ready(function(){

  });

</script>

{% endblock js %}