{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block body %}


<div class="row">
    <div class="col-md-4 col-lg-4"></div>
    <div class="col-md-4 col-lg-4 col-sm-12">
        {% if data %}
            <div class="alert alert-info">
                <table class="table">
                    <tr>
                        <td><strong>🏦 Savings</strong></td>
                        <td>₹ {{ data.savings|intcomma }}</td>
                    </tr>

                    {% if data.gold >= 0 %}
                        <tr>
                            <td><strong>🔱 Gold</strong></td>
                            <td>₹ {{ data.gold|intcomma }}</td>
                        </tr>
                    {% endif %}

                    {% if data.debt >= 0 %}
                        <tr>
                            <td><strong>💵 Debt</strong></td>
                            <td>₹ {{ data.debt|intcomma }}</td>
                        </tr>
                    {% endif %}

                    {% if data.equity >= 0 %}
                        <tr>
                            <td><strong>📈 Equity</strong></td>
                            <td>₹ {{ data.equity|intcomma }}</td>
                        </tr>
                    {% endif %}

                    <tr class="alert alert-success">
                        <td><strong><span style="visibility: hidden;">➕</span> Total</strong></td>
                        <td>₹ {{ total|intcomma }}</td>
                    </tr>
                </table>
            </div>
        {% endif %}

        <form action="" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-success btn-lg btn-block" name="" value="Calculate">
            <br>
            <a style="float:right;" href="{% url 'income:savings-calculation-detail' %}">Settings</a>
        </form>
    </div>
    <div class="col-md-4 col-lg-4"></div>


</div>


<p><br><br><br><br><br></p>
{% endblock body %}


