{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block body %}


<div class="row">

    <div class="col-sm-4 col-sm-offset-2">
        {% if data %}
            <div class="jumbotron">
                Savings: {{ data.savings|intcomma }}
                Gold: {{ data.gold|intcomma }}
                Equity: {{ data.equity|intcomma }}
            </div>
        {% endif %}

        <form action="" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="alert alert-warning" role="alert">Equity will be auto calculated based on given inputs above.</div>
            <input type="submit" class="btn btn-success" name="" value="Calculate">
        </form>
    </div>

</div>


{% endblock body %}


