{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block body %}


<div class="row">

    <div class="col-md-4 col-lg-4"></div>
    <div class="col-md-4 col-lg-4 col-sm-12">
        {% if data %}
            <div class="jumbotron">
                <h4>Savings: {{ data.savings|intcomma }}</h4>
                <h4>Gold: {{ data.gold|intcomma }}</h4>
                <h4>Equity: {{ data.equity|intcomma }}</h4>
            </div>
        {% endif %}

        <form action="" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-primary btn-lg btn-block" value="Update">
            <br>
            <a style="float:right;" href="{% url 'income:savings-calculator' %}">Savings Calculator</a>
        </form>
    </div>
    <div class="col-md-4 col-lg-4"></div>

</div>

<p><br><br><br><br><br></p>
{% endblock body %}


