{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block body %}


<div class="row">

    <div class="col-sm-4 col-sm-offset-2">
        {% if data %}
            <div class="alert alert-info">
                <table class="table">
                    <tr>
                        <td><strong>Savings</strong></td>
                        <td>{{ data.savings|intcomma }}</td>
                    </tr>
                    <tr>
                        <td><strong>Gold</strong></td>
                        <td>{{ data.gold|intcomma }}</td>
                    </tr>
                    <tr>
                        <td><strong>Debt</strong></td>
                        <td>{{ data.debt|intcomma }}</td>
                    </tr>
                    <tr>
                        <td><strong>Equity</strong></td>
                        <td>{{ data.equity|intcomma }}</td>
                    </tr>
                </table>
            </div>
        {% endif %}

        <form action="" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-success" name="" value="Calculate">
            <a style="float:right;" href="{% url 'income:savings-calculation-detail' %}">Settings</a>
        </form>
    </div>

</div>


<p><br><br><br><br><br></p>
{% endblock body %}


