{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block body %}


<div class="row">

    <div class="col-md-4 col-lg-4 col-sm-12">

        <form action="" method="POST">
            {% csrf_token %}
            {{ form|crispy }}

            {% if inv_form.fields %}
                <center><h4><u>Investments</u></h4></center>
                {{ inv_form|crispy }}
            {% endif %}

            <input type="submit" class="btn btn-success btn-lg btn-block" value="Update">
            <br>

            {% if user.saving_calculation %}
            <center>
                <a class="btn btn-primary btn-block" href="{% url 'income:investment-entity-list' %}">Manage Investments</a>
            </center>
            <br>
            {% endif %}
            <a style="float:right;" class="btn btn-primary" href="{% url 'income:savings-calculator' %}"><i class='fas fa-calculator'></i></a>
        </form>
        
    </div>

</div>

<p><br><br><br><br><br></p>
{% endblock body %}


