{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block body %}


<div class="row">

    <div class="col-md-4 col-lg-4"></div>
    <div class="col-md-4 col-lg-4 col-sm-12">
        <h3><u>{{ title }}</u></h3><br>

        <form action="" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            {{ inv_form|crispy }}
            <input type="submit" class="btn btn-success btn-lg btn-block" value="Update">
            <br>

            {% if user.saving_calculation %}
            <center>
                <a class="btn btn-primary btn-block" href="{% url 'income:investment-entity-list' %}">Manage Investments</a>
            </center>
            {% endif %}
        </form>
        
    </div>
    <div class="col-md-4 col-lg-4"></div>

</div>

<p><br><br><br><br><br></p>
{% endblock body %}


