{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load humanize %}


{% block head %}
<style>
    tr, td, th {
        border: none !important;
    }
</style>
{% endblock head %}


{% block body %}


<div class="row">

    <center><h3><u>{{ title }}</u></h3></center>
    <br>

    <div class="col-md-4 col-lg-4"></div>
    <div class="col-md-4 col-lg-4 col-sm-12">
        {% if data %}
            <div class="alert alert-info">
                <table class="table">
                    <tr>
                        <td><strong>Savings</strong></td>
                        <td>₹ {{ data.savings|intcomma }}</td>
                    </tr>

                    {% for inv_name, inv_amount in data.investment.items %}
                        <tr>
                            <td><strong>{{ inv_name }}</strong></td>
                            <td>₹ {{ inv_amount|intcomma }}</td>
                        </tr>
                    {% endfor %}

                    <tr><td></td><td></td></tr>
                    
                    <tr class="alert alert-success">
                        <td>Investment Total</td>
                        <td>₹ {{ investment_total|intcomma }}</td>
                    </tr>
                    <tr class="alert alert-success">
                        <td><strong>Grand Total</strong></td>
                        <td><strong>₹ {{ total|intcomma }}</strong></td>
                    </tr>
                </table>
            </div>
        {% endif %}

        {% if defaults_message %}
            <div class="alert alert-warning" role="alert">
                {% for dm in defaults_message %}
                    <li>{{ dm }}</li>
                {% endfor %}
            </div>
        {% endif %}

        <form action="" method="POST">
            {% csrf_token %}
            {{ form|crispy }}

            {% if inv_form.fields %}
                <center><h4><u>Investments</u></h4></center>
                {{ inv_form|crispy }}
            {% endif %}

            <input type="submit" class="btn btn-success btn-lg btn-block" value="Calculate">
            <br>
            <a style="float:right;" href="{% url 'income:savings-calculation-detail' %}">Settings</a>

            {% if message %}
                <br><br>
                <div class="alert alert-info">
                    <strong><u>Message</u>:</strong>
                    <p>{{ message|linebreaks }}</p>
                </div>
            {% endif %}
        </form>
    </div>
    <div class="col-md-4 col-lg-4"></div>


</div>


<p><br><br><br><br><br></p>
{% endblock body %}


