{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block body %}


{% if request.GET.q %}
<h4>Total for search "{{ request.GET.q }}": {{ object_total }}</h4>
{% elif object_total %}
<h4>Total: {{ object_total }}</h4>
{% endif %}



{% if objects %}

{% include 'expense_table.html' %}

{% else %}
<h1>Nothing found.</h1>
<hr>
{% endif %}


<div class="row">

{% if date_form %}
  <div class="col-sm-4 col-sm-offset-0">
    <form action="{% url 'expense:search' %}" method="GET">
      {% csrf_token %}
      {{ date_form|crispy }}
      <input type="submit" class="btn btn-default" name="" value="Search">
    </form>
  </div>
{% endif %}

{% if range_form %}
  <div class="col-sm-4 col-sm-offset-2">

    <form action="{% url 'expense:search' %}" method="GET">
      {% csrf_token %}
      {{ range_form|crispy }}
      <input type="submit" class="btn btn-default" name="" value="Search">
    </form>
  </div>
{% endif %}

</div>


{% endblock body %}




{% block js %}

<script type="text/javascript">

$(".remark").autocomplete({
    source: "/autocomplete/get_remark/",
  });

$(function(){
  $("#id_date").datepicker();
  $("#id_from_date").datepicker();
  $("#id_to_date").datepicker();
  
  update();
});

</script>

<br><br><br>
{% endblock js %}
