{% extends 'base.html' %}
{% load humanize %}

{% block body %}

<br>

{% if sources %}

<div class="col-md-6 col-md-offset-3">

{% include "total_alert_info.html" %}

<table class="table table-striped">

  <thead>
    <tr>
      <th>Source</th>
      <th><span class="float-right">Total Amount</span></th>
    </tr>
  </thead>

  {% for row in sources %}
    <tr>

      <td>
        <a class="black-text" 
          href="{% url 'income:search' %}?source={% if row.source %}{{ row.source.name }}{% else %}%22%22{% endif %}{% if from_date and to_date %}&from_date={{from_date}}&to_date={{to_date}}{% endif %}">
          {% if row.source %}
            {{ row.source.name }}
          {% else %}
            Others<sup>*</sup>
          {% endif %}
        </a>
      </td>

      <td>
          <span class="float-right">
            {{ row.amount|intcomma }}
          </span>
      </td>
      
    </tr> 
  {% endfor %}

  </table>
  
  {% else %}

  <h2>No data to show.</h2>

  {% endif %}

</div>

{% endblock body %}