{% extends 'base.html' %}
{% load humanize %}


{% block body %}

{% if data %}
<table class="table table-striped">

  <thead>
    <tr>
      <th>Year</th>
      <th>Monthly Average</th>
      <th>Total Expense</th>
    </tr>
  </thead>

  {% for object in data %}
    <tr>

      <td>
        <a href="{% url 'expense:month-wise-expense' %}?year={{ object.year }}">
          {{ object.year }}
        </a>
        <sup>( 
          <a href="{% url 'expense:day-wise-expense' %}?year={{ object.year }}">Day</a> |
          <a href="{% url 'expense:goto_year_expense' year=object.year %}">Remark</a>
        )</sup>
      </td>

      <td>
        {{ object.monthly_average|intcomma }}
      </td>

      <td>
          <span data-toggle="tooltip" data-placement="top" title="Year's EIR: {{ object.year_eir }}%; All Time EIR: {{ object.eir }}%; Expense Ratio: {{ object.expense_ratio }}%">
            {{ object.amount|intcomma }}
          </span>
      </td>

    </tr>
  {% endfor %}

  </table>

  {% include 'paginator.html' %}
  
  {% else %}

  <h2>No data to show.</h2>

  {% endif %}

{% endblock body %}


