{% extends 'base.html' %}
{% load humanize %}


{% block body %}

<div class="col-md-6 col-md-offset-3">

{% if data %}
    <table class="table table-bordered table-hover">

        <thead>
            <tr>
                <th class="active">Year</th>
                <th class="active"><span class="float-right">Monthly Avg.</span></th>
                <th class="active"><span class="float-right">Total Income</span></th>
            </tr>
        </thead>

        {% for object in data %}
            <tr>
                <td>
                    <a href="{% url 'income:month-income-list' %}?year={{ object.0.year }}">
                    {{ object.0.year }}
                    </a>
                </td>
                <td>
                    <span class="float-right">{{ object.2|intcomma }}</span>
                </td>
                <td>
                    <span class="float-right darker-text">{{ object.1|intcomma }}</span>
                </td>
            </tr>
        {% endfor %}

    </table>

  {% include 'paginator.html' %}
  
{% else %}
  <h2>No data to show.</h2>
{% endif %}

</div>

{% endblock body %}


{% block js %}

<script type="text/javascript">

  $(document).ready(function(){

  });

</script>

{% endblock js %}