{% extends 'base.html' %}
{% load humanize %}


{% block body %}

<div class="col-md-8 col-md-offset-2">

{% if data %}
<table class="table table-bordered table-hover">

  <thead>
    <tr>
      <th class="active">Year</th>
      <th class="active"><span class="float-right">Monthly Avg</span></th>
      <th class="active"><span class="float-right">Expense</span></th>
    </tr>
  </thead>

  {% for object in data %}
    <tr>

      <td>
        <a href="{% url 'expense:month-wise-expense' %}?year={{ object.year }}">
          {{ object.year }}
        </a>
        (<a href="{% url 'expense:day-wise-expense' %}?year={{ object.year }}">day</a> |
          <a href="{% url 'expense:goto_year_expense' year=object.year %}">remark</a>)
      </td>

      <td>
        <span class="float-right">{{ object.monthly_average|intcomma }}</span>
      </td>

      <td class="active">
          <span class="float-right" data-toggle="tooltip" title="Year's EIR: {{ object.year_eir }}%<br> All Time EIR: {{ object.eir }}%<br> Expense Ratio: {{ object.expense_ratio }}%">
            {{ object.amount|intcomma }}
          </span>
      </td>

    </tr>
  {% endfor %}

  </table>

  {% include 'paginator.html' %}
  
  {% else %}

  <h2>No data to show.</h2>

  {% endif %}

</div>

{% endblock body %}


